html{
    max-width: 100%;
    margin: auto;
}
ul{
    margin-top: 20px;
}
ul a{
    color: #000;
    background: lightblue;
    width: 200px;
    margin: auto;
    padding: 10px 20px;
}
body{
    background: #fff;
    text-align: center;
}
.rounded a{
    border-radius: 7px;
}
form{
    background: lightblue;
}